# Email Campaign Performance Dashboard

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv(r"D:\Data Analyst\Email Campaign Performance Dashboard\email_campaign_performance.csv")

In [7]:
df.info()   # checkout for nulls

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   email_id           500 non-null    object
 1   campaign_id        500 non-null    object
 2   send_date          500 non-null    object
 3   open_rate          500 non-null    float64
 4   click_rate         500 non-null    float64
 5   unsubscribes       500 non-null    int64
 6   conversion_rate    500 non-null    float64
 7   revenue_generated  500 non-null    float64
dtypes: float64(4), int64(1), object(3)
memory usage: 31.4+ KB

In [37]:
df

,email_id,campaign_id,send_date,open_rate,click_rate,unsubscribes,conversion_rate,revenue_generated,revenue_per_email,click_to_open_ratio
0,E0001,CAMPAIGN_1,2024-01-01,0.34,0.20,2,0.13,109.23,109.23,0.59
1,E0002,CAMPAIGN_2,2024-01-02,0.17,0.14,0,0.17,141.73,141.73,0.82
2,E0003,CAMPAIGN_3,2024-01-03,0.34,0.13,4,0.15,68.03,68.03,0.38
3,E0004,CAMPAIGN_4,2024-01-04,0.59,0.19,3,0.08,150.45,150.45,0.32
4,E0005,CAMPAIGN_5,2024-01-05,0.59,0.36,2,0.14,464.78,464.78,0.61
...,...,...,...,...,...,...,...,...,...,...
495,E0496,CAMPAIGN_1,2025-05-10,0.44,0.18,2,0.07,117.32,117.32,0.41
496,E0497,CAMPAIGN_2,2025-05-11,0.14,0.39,2,0.15,27.67,27.67,2.79
497,E0498,CAMPAIGN_3,2025-05-12,0.27,0.19,4,0.20,358.20,358.20,0.70
498,E0499,CAMPAIGN_4,2025-05-13,0.22,0.08,4,0.05,370.53,370.53,0.36
499,E0500,CAMPAIGN_5,2025-05-14,0.56,0.37,3,0.28,130.00,130.00,0.66

In [9]:
df.describe()

,open_rate,click_rate,unsubscribes,conversion_rate,revenue_generated
count,500.000000,500.000000,500.000000,500.000000,500.000000
mean,0.350540,0.218260,2.040000,0.153720,253.439340
std,0.143179,0.101506,1.360184,0.083064,137.297486
min,0.100000,0.050000,0.000000,0.010000,12.690000
25%,0.230000,0.130000,1.000000,0.080000,139.675000
50%,0.340000,0.220000,2.000000,0.160000,253.120000
75%,0.472500,0.300000,3.000000,0.220000,368.390000
max,0.600000,0.400000,4.000000,0.300000,498.140000

In [39]:
df["revenue_per_email"] = df["revenue_generated"]

In [41]:
df["click_to_open_ratio"] = (df["click_rate"] / df["open_rate"]).round(2)  # value round off to 2

In [19]:
df.head()

,email_id,campaign_id,send_date,open_rate,click_rate,unsubscribes,conversion_rate,revenue_generated,revenue_per_email,click_to_open_ratio
0,E0001,CAMPAIGN_1,2024-01-01,0.34,0.20,2,0.13,109.23,109.23,0.59
1,E0002,CAMPAIGN_2,2024-01-02,0.17,0.14,0,0.17,141.73,141.73,0.82
2,E0003,CAMPAIGN_3,2024-01-03,0.34,0.13,4,0.15,68.03,68.03,0.38
3,E0004,CAMPAIGN_4,2024-01-04,0.59,0.19,3,0.08,150.45,150.45,0.32
4,E0005,CAMPAIGN_5,2024-01-05,0.59,0.36,2,0.14,464.78,464.78,0.61

In [43]:
campaign_summary = df.groupby("campaign_id").agg({
    "open_rate": "mean",
    "click_rate": "mean",
    "conversion_rate": "mean",
    "unsubscribes": "sum",
    "revenue_generated": "sum"
}).reset_index()

print(campaign_summary.head())  # View the summary output

  campaign_id  open_rate  click_rate  conversion_rate  unsubscribes  \
0  CAMPAIGN_1     0.3740      0.2293           0.1581           214
1  CAMPAIGN_2     0.3448      0.2003           0.1534           193
2  CAMPAIGN_3     0.3347      0.2206           0.1553           180
3  CAMPAIGN_4     0.3516      0.2206           0.1445           206
4  CAMPAIGN_5     0.3476      0.2205           0.1573           227

   revenue_generated
0           26593.90
1           22960.94
2           25815.28
3           26288.00
4           25061.55

,email_id,campaign_id,send_date,open_rate,click_rate,unsubscribes,conversion_rate,revenue_generated,revenue_per_email,click_to_open_ratio
0,E0001,CAMPAIGN_1,2024-01-01,0.34,0.20,2,0.13,109.23,109.23,0.59
1,E0002,CAMPAIGN_2,2024-01-02,0.17,0.14,0,0.17,141.73,141.73,0.82
2,E0003,CAMPAIGN_3,2024-01-03,0.34,0.13,4,0.15,68.03,68.03,0.38
3,E0004,CAMPAIGN_4,2024-01-04,0.59,0.19,3,0.08,150.45,150.45,0.32
4,E0005,CAMPAIGN_5,2024-01-05,0.59,0.36,2,0.14,464.78,464.78,0.61
...,...,...,...,...,...,...,...,...,...,...
495,E0496,CAMPAIGN_1,2025-05-10,0.44,0.18,2,0.07,117.32,117.32,0.41
496,E0497,CAMPAIGN_2,2025-05-11,0.14,0.39,2,0.15,27.67,27.67,2.79
497,E0498,CAMPAIGN_3,2025-05-12,0.27,0.19,4,0.20,358.20,358.20,0.70
498,E0499,CAMPAIGN_4,2025-05-13,0.22,0.08,4,0.05,370.53,370.53,0.36
499,E0500,CAMPAIGN_5,2025-05-14,0.56,0.37,3,0.28,130.00,130.00,0.66

In [29]:
print(df.shape)  # This will show (500, 8)

(500, 10)

In [31]:
print(campaign_summary.shape)  # This should show (5, 6)

(5, 6)

In [33]:
print(campaign_summary.head())  # View the summary output

  campaign_id  open_rate  click_rate  conversion_rate  unsubscribes  \
0  CAMPAIGN_1     0.3740      0.2293           0.1581           214
1  CAMPAIGN_2     0.3448      0.2003           0.1534           193
2  CAMPAIGN_3     0.3347      0.2206           0.1553           180
3  CAMPAIGN_4     0.3516      0.2206           0.1445           206
4  CAMPAIGN_5     0.3476      0.2205           0.1573           227

   revenue_generated
0           26593.90
1           22960.94
2           25815.28
3           26288.00
4           25061.55

In [35]:
df.to_csv(r"D:\Data Analyst\Email Campaign Performance Dashboard\email_campaign_performance_for_dashboard.csv")